
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~toastr/build/toastr.min.css';

// Variables
@import 'variables';

$theme-colors: (
    'deeporange-darken4': #bf360c,
    'red-lighten3': #ef9a9a,
    'green-lighten3': #a5d6a7
);

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
